NODE_ENV=development
PORT=3000

MARIADB_HOST=movies-database
MARIADB_PORT=3603
MARIADB_USER=user
MARIADB_PASSWORD=movies1234
MARIADB_DATABASE=movies_db
MARIADB_ROOT_PASSWORD=movies

JWT_SECRET=your-secret-jwt-key
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

MOVIES_BASE_URL=https://www.swapi.tech/api

